<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.androidnews.mapper.CategoryMapper">
    <select id="listCategory" resultType="com.example.androidnews.entity.Category">
        select *
        from category
        where is_delete = 0
    </select>

    <update id="updateCategoryById">
        update category
        set `name` = #{categoryName}
        where `id` = #{categoryId}
    </update>

    <update id="deleteCategoryById">
        update category
        set `is_delete` = 1,`gmt_update` = now()
        where `id` = #{categoryId}
    </update>

    <insert id="insertCategory">
        insert into category
        values(#{categoryId},#{categoryName},0,now(),now());
    </insert>

</mapper>
