<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.androidnews.mapper.CommentMapper">
    <select id="listComment" resultType="com.example.androidnews.entity.Comment">
        select *
        from comment
        where is_delete = 0
        and news = #{newsId}
        and father = #{commentFather}
    </select>

    <insert id="addComment">
            insert into `comment`
            values (#{commentId},#{fahter},#{username},#{content},#{news},0,now(),now())
    </insert>

    <update id="deleteComment">
        update `comment`
        set `is_delete` = 1
        where id = #{commentId}
    </update>
</mapper>
