<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.androidnews.mapper.NewsMapper">
    <select id="findNews" resultType="com.example.androidnews.entity.News">
        select *
        from `news`
        where `title` like  concat('%',#{keyWord},'%')
        or `content` like concat('%',#{keyWord},'%')
    </select>
    <select id="listNews" resultType="com.example.androidnews.entity.News">
        select *
        from  `news`
        where is_delete = 0
    </select>
    <select id="listByCategory" resultType="com.example.androidnews.entity.News">
        select *
        from  `news`
        where `category` = #{categoryId}
    </select>
</mapper>
